- error = @task.errors.include?(:title)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :title, :class => 'control-label'
  .controls
    =f.text_field :title, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : pat(:example)

%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label 'Кто выполняет задачу?', :class => 'control-label'
  .controls
    =f.select_block :account_id, :options => @names_array

%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :project_id, :class => 'control-label'
  .controls
    =f.select(:project_id, :collection => @projects, :fields => [:title, :id], :class => 'selectpicker input-xlarge input-with-feedback', :data => {:live_search => "true"})


- error = @task.errors.include?(:start)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :start, :class => 'control-label'
  .controls
    =f.datetime_field :start, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:start, :class => 'text-error') : pat(:example)
- error = @task.errors.include?(:soft_deadline)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :soft_deadline, :class => 'control-label'
  .controls
    =f.text_field :soft_deadline, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:soft_deadline, :class => 'text-error') : pat(:example)
- error = @task.errors.include?(:hard_deadline)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :hard_deadline, :class => 'control-label'
  .controls
    =f.text_field :hard_deadline, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:hard_deadline, :class => 'text-error') : pat(:example)
- error = @task.errors.include?(:done)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :done, :class => 'control-label'
  .controls
    =f.check_box :done, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:done, :class => 'text-error') : pat(:example)
- error = @task.errors.include?(:priority)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :priority, :class => 'control-label'
  .controls
    =f.number_field :priority, :min => 1, :max => 5, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:priority, :class => 'text-error') : pat(:example)
- error = @task.errors.include?(:tag)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :tag, :class => 'control-label'
  .controls
    =f.text_field :tag, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:tag, :class => 'text-error') : pat(:example)
- error = @task.errors.include?(:body)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :body, :class => 'control-label'
  .controls
    ~f.text_area :body, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:body, :class => 'text-error') : pat(:example)
- error = @task.errors.include?(:account_id)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :account_id, :class => 'control-label'
  .controls
    =f.text_field :account_id, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:account_id, :class => 'text-error') : pat(:example)
- error = @task.errors.include?(:project_id)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :project_id, :class => 'control-label'
  .controls
    =f.text_field :project_id, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:project_id, :class => 'text-error') : pat(:example)

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:tasks, :index), :class => 'btn btn-default'
