%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:tasks, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:tasks, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:tasks, :edit, :id => @task.id)

.tabs-content
  = form_for :task, url(:tasks, :update, :id => @task.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'tasks/form', :locals => { :f => f }
